button.btnactive{padding:10px 15px; margin:10px 5px; background-color: #4885ED; border-radius: 5px; border:1px solid #4885ED; color:#fff; font-size:13px; min-width: 100px; outline: none; cursor: pointer; 
    -webkit-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;}
button.btnactive:hover{background-color: #376bc4;}