.tabUI {width: 99%; margin-top: 20px;}
.tabUI .MuiAppBar-root{flex-direction: unset;}
.tabUI header {padding: 0 0px;}

.tabUI .MuiAppBar-colorDefault{background-color: transparent;}
.tabUI .MuiPaper-elevation4{box-shadow: none;}
.tabUI .MuiTab-textColorPrimary.Mui-selected{color: #fff; background-color: #4885ED;}
.tabUI .MuiBox-root{/*height: 200px; overflow-y: auto;*/}
.tabUI button.MuiTab-root{background-color: #fff; margin: 0; color:#4885ED; text-transform: capitalize; font-weight: normal; border:1px solid #4885ED;  min-width: 99px; font-size: 13px; border-radius: 50px 0 0 50px; }
.tabUI button.MuiTab-root:first-child{margin-left:0}
.tabUI button.MuiTab-root:last-child{border-radius: 0px 50px 50px 0;}

.tabUI button.MuiTab-root{min-height: 40px;}
.tabUI .MuiTabs-indicator{display: none;}
.tabUI .MuiTabs-root{min-height: 35px;}

.tabUI .MuiBox-root {border: 1px solid #BEBEBE; border-radius: 10px; margin-top: 10px; padding: 10px;}