.BldgDetails{margin: 0px 0;}
.BldgDetails h2{margin-bottom: 20px; font-size:16px; font-weight: 600;}
.bldgInfo .rows{border-bottom: 1px solid #E9E9E9; padding-bottom: 20px; margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}

