.snackBarSuccess{background-color: #4CAF50; border:1px solid #D6D6D6; padding:5px 10px;  border-radius: 5px; color: #fff; font-size: 13px; 
    position: absolute;
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);-ms-transform: translate(-50%, 0%);transform: translate(-50%, 0%);
    display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;

}

.snackBarSuccess i{}

.snackBarSuccess i.check {
    margin-right: 20px;
    font-size: 20px;
}

.snackBarSuccess i.close {
    margin-left: 40px;
    cursor: pointer;
    font-size: 16px;
}